{% extends 'base2.html.twig' %}
{% block body %}
<style>
    img{
        width:175px;
        height:140px;
    }
    table{
        width:95vw;
        margin:auto;
    }
    td{
        text-align:center;
    }
     
    .modify{
        width:100px;
        height:20px;
        background-color:green;
        border:1px black solid;
        border-radius:30px;
        display:flex;
        text-align:center;
        justify-content:center;
        margin:auto;
        color:black;
        text-decoration:none;
        margin-bottom:20px;
    }
    .modifyImage{
        width:100px;
        height:20px;
        background-color:blue;
        border:1px black solid;
        border-radius:30px;
        display:flex;
        text-align:center;
        justify-content:center;
        margin:auto;
        color:black;
        text-decoration:none;
        margin-bottom:20px;
    }
    .delete{
        width:100px;
        height:20px;
        background-color:red;
        border:1px black solid;
        border-radius:30px;
        display:flex;
        text-align:center;
        justify-content:center;
        margin:auto;
        color:black;
        text-decoration:none;
        margin-top:20px;
    }
</style>
<table class="table" border="1">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Url</th>
            <th>Name</th>
            <th>Marque</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        {% for car in cars %}
        <tr>
            <td>{{car.id}}</td>
            <td><img src="../../public/images/cars/{{car.image}}" alt="{{car.name}}"></td>
            <td>{{car.image}}</td>
            <td>{{car.name}}</td>
            <td>{{car.marque.name}}</td>
            <td class="buttons">
                <a class='modify' href="{{path('editCar',{'id':car.id})}}">Modify</a>
                <a class='modifyImage' href="{{path('editCarImage',{'id':car.id})}}">Modify Image</a>
                <a class='delete' href="{{path('deleteCar',{'id':car.id})}}" onclick="return confirm('Are you sure to delete!{{car.name}}')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}